tensorflow
torch
keras
jax
transformers
huggingface-hub
scikit-learn
scipy
pandas
numpy
matplotlib
seaborn
opencv-python
jupyter
notebook
jupyterlab
ipywidgets
streamlit
streamlit-option-menu
selenium
